.form__main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



.form__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}



.title__form h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}



.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
}



.lab__inp__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 3rem;
}



.lab__inp__container label {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(22,22,22,0.7);
  border-radius: 0.25rem;
  border: 0.0625rem solid rgba(128,128,128,0.7);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  padding-left: 0.95rem;
  user-select: none;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1.5;
}



.lab__inp__container input {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  caret-color: rgb(255,255,255);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 1.25rem 1rem 0.25rem;
  outline-offset: 0.1rem;
  border-radius: 0.125rem;
  outline: none;
    
}



.lab__inp__container input:focus {
  outline: 0.125rem solid white;
}



.form__container button {
  height: 3rem;
  width: 10.0625rem;
  background-color: rgb(229,9,20);
  border-radius: 0.25rem;
  border: none;
  font-weight: 500;
  min-height: 3rem;
  border-radius: 0.25rem;
  background: rgb(229,9,20);
  color: rgb(255,255,255);
  user-select: none;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.4,0,0.68,0.06);
}



.form__container button:hover {
  background: rgb(193,17,25);
}



/* Form bottom */



.section__container__2 .form__main__container {
  margin-bottom: 3.5rem;
}



.section__container__2 .title__form h3 {
  text-align: left;
}



.section__container__2 .title__form {
    width: 100%;
}



.section__container__2 .form__container {
  align-items: flex-start;
}