
footer {
    margin-bottom: 6rem;
}



footer a {
    color: rgba(255,255,255,0.7);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}



.contact__us {
    padding: 0.25rem;
    width: fit-content;
}



.contact__us a {
    font-size: 1rem;
    font-weight: 400;
}


.link__container {
    padding: 0.25rem;
    margin-top: 2.25rem;
}



.link__container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 0.875rem;
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight: 400;
}



footer .netflix__partner {
    margin-top: 2.25rem;
    color: rgba(255,255,255,0.7);
    font-family: unset;
    font-size: 0.875rem;
    font-weight: 400;
}



.recap__check {
    margin-top: 2.25rem;
    color: rgba(255,255,255,0.5);
    font-size: 0.8125rem;
    height: 6rem;
}



.recap__check a {
    color: rgb(68,142,244);
    font-size: 0.8125rem;
    display: inline-flex;
    line-height: 1.5;
    height: 2rem;
}